*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.numero{
    width: 100%;
}
.contenedor-inputs-numeros{
    margin-bottom: 10px;
}